<html>
    <title>View files</title>
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
              padding: 4px;
            }
        </style>
    </head>
    <body>
      
        <form id='searchform' method="post" action="/accounts/fsearch/" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <input type = 'submit'>
       </form>
        <table>
            <tr>
              <th></th>
              <th>File Name</th>
              <!-- <th>Delete</th>
              <th>Download</th> -->
            </tr>
            {% for i in filelist %}
            <tr>
              <td><input type="checkbox" class="select" data-fid="{{i.ufilename}}"></td>
              <td>{{i.ufilename}}</td>
              <!-- <td><a href = '/accounts/fdelete/'> Delete </a></td>
              <td><a href = '/accounts/fdownload/'> Download </a></td> -->
            </tr>
            {% endfor %}
       </table>
            <button type="button" id="delete">Delete selected files</button>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script type="text/javascript">
            $('#delete').click(function(){
            let catid = "";
            $('input[type=checkbox]').each(function(){
                 if($(this).is(":checked")){
                   catid+=($(this).attr('data-fid'));
                   catid+=" ";
                 }
            });
            alert(catid);
            $.ajax(
            {
             headers: { "X-CSRFToken": '{{csrf_token}}' },
             type:"POST",
             url: "/accounts/fdelete/",
             contentType: "application/json; charset=utf-8",
             data: JSON.stringify({
                 fnames: catid,
              }),
            success: function( data ) 
            {
                alert("successful");
                
            }
            })
            });
            </script>
    </body>
</html>