<!DOCTYPE html>
<html>
    
    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>View files</title>
        {% load crispy_forms_tags %}
    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class = "container-fluid">
        <ul class = "nav navbar-nav navbar-left">
        <li>
        <form class = "navbar-form" id='searchform' method="post" action="/accounts/fsearch/" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <input class = "form-control mr-sm-2" type = 'submit' value="Search">
       </form>
      </li>
      </ul>
        <ul class = "nav navbar-nav navbar-right">
        <li><a href = "{% url 'menu' %}"> Go back to menu </a> </li>
       </ul>
      </div>
       </nav>
        <table class = "table table-dark">
            <thead>
            <tr>
              <th>Select</th>
              <th>File Name</th>
              <th>Download</th>
            </tr>
            </thead>
            <tbody>
            {% for i in filelist %}
            <tr>
              <td><input type="checkbox" class="select" data-fid="{{i.ufilename}}"></td>
              <td>{{i.ufilename}}</td>
              <td><a href = '{{i.ufile.url}}' download> <span class = "glyphicon glyphicon-download" style = "font-size: large;"></span>  </a></td>
            </tr>
            {% endfor %}
          </tbody>
       </table>
         <div class = "text-center">
            <button type="button" id="delete" class="btn btn-danger" >Delete selected files</button>
          </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script type="text/javascript">
            $('#delete').click(function(){
            let catid = "";
            $('input[type=checkbox]').each(function(){
                 if($(this).is(":checked")){
                   catid+=($(this).attr('data-fid'));
                   catid+=" ";
                 }
            });
            alert(catid);
            $.ajax(
            {
             headers: { "X-CSRFToken": '{{csrf_token}}' },
             type:"POST",
             url: "/accounts/fdelete/",
             contentType: "application/json; charset=utf-8",
             data: JSON.stringify({
                 fnames: catid,
              }),
            success: function( data ) 
            {
                alert("successful");
                
            }
            })
            });
            </script>
    </body>
</html>