
{% extends "django_two_factor_face_auth/index.html" %}
{% load crispy_forms_tags %}
{% block content %}

   <section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <div class="px-2">
                    
                        <form id='face-register-form' method="POST" action="{% url 'register' %}" accept-charset="utf-8" enctype="multipart/form-data" class="justify-content-center">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">JOIN TODAY</legend>
                                {{ form | crispy }}
                            </fieldset>	
                        </form>

                        <div class="justify-content-center">
                            <small class="text-muted">
                                <button id="video-button">Next</button>
                                <video id="screenshot-video" autoplay></video>
                                <button id="register-button" style="display: none;" >Register</button>
                            </small>
                        </div> 

                        <div class="justify-content-center">
                            <small class="text-muted">
                                Already have an account?<a class="ml-2" id="noline" href="{% url 'login' %}">Sign in</a>
                            </small>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% load static %}
<script type="text/javascript" src="{% static 'authentication/js/register.js' %}"></script>
<style >
"#cover {
        background-image: url('usericon.jpg') center repeat-y;
        background-size: cover;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        position: relative;
        }
#cover-caption { 
    width: 100%;
    position: relative;
    z-index: -1;
    }
    /* only used for background overlay not needed for centering */
form:before 
    {
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: -1;
        border-radius: 10px;
        }"

</style>


{% endblock %}





{% comment %} {% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %} {% endcomment %}

 <!-- original    

<div id="content-main">

<form id='face-register-form' method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form }}

    </form>

<button id="video-button">Next</button>
<video id="screenshot-video" autoplay></video>
<button id="register-button" style="display: none;">Register</button>

</div>
{% load static %}
<script type="text/javascript" src="{% static 'authentication/js/register.js' %}"></script>
{% comment %} {% endblock %} {% endcomment %}

 -->
    